<!-- Footer -->
<footer id="footer">
  <div class="container-fluid">
      <i class="social-icon fab fa-facebook-f socon fa-lg"></i>
      <i class="social-icon fab fa-twitter socon fa-lg"></i>
      <i class="social-icon fab fa-instagram socon fa-lg"></i>
      <i class="social-icon fas fa-envelope  socon fa-lg"></i>
      <p style="color: rgb(50, 45, 45); margin-top:2%;padding-bottom: 4% ;">&#169 2023 Waste Zero Inc.</p>
  </div>
</footer>

</body>
</html>