<%- include("partials/header"); -%>
<section id="home-heading">
    <div class = "container heading-box">


        <!-- Title -->
        
        <div class="row row-home">
            <div class = "col-lg-6">
                <h1 class = "big-heading">Help Us Feed Those In Need</h1>
                <p class = "heading-para mt-3">Hunger knows no boundaries, but neither does the power of generosity. Donate food and help us fight hunger, one meal at a time.</p>
              <a href="/donate">
                <button class = "btn btn-dark btn-lg download-button" type="button">DONATE NOW</button>
              </a>
            </div>
            <div class = "col-lg-6">
                <img class = "donate-img" src="images/5299.jpg" alt="donate-mockup">
            </div>
        </div>
    </div>
</section>

    <div class = "row">
        <div class = "feature-box col-lg-4">
            <i class="icon fa-solid fa-seedling fa-4x" style = "color: #F1A250"></i>
            <h3>OUR MISSION</h3>
            <div class = "item-row">
                <p>To tackle food wastage and hunger by providing innovative solutions to redirect surplus food from restaurants to those in need.</p>
            </div>
        </div>

        <div class = "feature-box col-lg-4">
            <i class="icon fa-solid fa-seedling fa-4x " style = "color: #F1A250"></i>
            <h3>GET INVOLVED</h3>
            <div class = "item-row">
                <p>Get involved and join us in our efforts to make a positive impact by combating food wastage and ensuring food security for all.</p>
            </div>
        </div>

        <div class = "feature-box col-lg-4">
            <i class="icon fa-solid fa-seedling fa-4x" style = "color: #F1A250"></i>
            <h3>DONATE</h3>
            <div class = "item-row" >
                <p>Make a meaningful impact by donating today and join us in our relentless mission to fight food wastage, alleviate hunger, and ensure that no one goes to bed hungry.</p>
            </div>
        </div>
    </div>

<%- include("partials/footer"); -%>
